@using Mailr.Extensions.Gunter.Helpers
@using Mailr.Extensions.Models
@using Mailr.Extensions.Helpers
@model Mailr.Extensions.Gunter.Models.Reports.TableDto

<table class="table">
    <tbody>
    @foreach (var row in Model.Data.Body ?? HtmlTableRowGroup.Empty)
    {
        var valueClasses = row[1].ToClassString(TagMapping.GetClass);
        <tr>
            <th class="cell table-header">@row[0].Value</th>
            
            @switch (row[1].Value)
            {
                case IEnumerable<object> collection:                    
                    <td class="cell @valueClasses">
                        <ul style="padding: 0; margin: 0; list-style-type: none;">
                            @foreach (var value in collection)
                            {
                                <li>&gt; @value</li>
                            }
                        </ul>
                    </td>
                    break;
                default:
                    <td class="cell @valueClasses">@row[1].Value</td>
                    break;
            }
            
        </tr>
    }
    </tbody>
</table>